# System
.DS_Store
*.log

# IDEs
.idea
.vscode

# Python files
*.pyc
.ipynb_checkpoints
.hydra

# Project outputs
lightning_logs
outputs
wandb
multirun

#Misc
message.txt
cmd.txt
slurm*
tmp*
config/broom

